<div class="container">
  <%= simple_form_for group, html: { class: "group_form" } do |f| %>
    <% if group.errors.any? %>
      <div class="error-message">
        <%= group.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :children_age %>
    <%= f.input :picture_url %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div style="text-align: center;">
      <%= f.submit class: "btn button-primary" %>
    </div>
  <% end %>
</div>
