
  <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= group.name %></h5>
        <% if Request.where(group: group, user: current_user).present? %>
          <p>Pending approval</p>
        <% else %>
          <%= simple_form_for [group, @request] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :group_id, value: group.id %>
          <%= f.submit "Ask to join", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  </div>
