<div class= "groups-container">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% @groups.each do |group| %>
  <%= group.name %>

  <%= simple_form_for [group, @request] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :group_id, value: group.id %>
    <%= f.submit "Ask to join", class: "btn btn-success" %>
    <% end %>

  <% end %>
</div>
