<div class= "groups-map-container">
  <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class= "filter-group-container">
 <%= simple_form_for @filter_form, url: groups_path, method: :get do |form|%>
  <%= form.input :children_age, label_html: {class: 'map-filter-label'}, collection: Group.pluck(:children_age).uniq, include_blank: 'All', :prompt => "Age"%>
  <%= form.button :submit, 'Apply ', class: "btn btn-success btn-filter" %>
  <%= @groups_all %>
<% end %>
</div>
