<div class = "group-page-container">
  <div class = "group-page-info">
    <p class= "title"><strong><%= @group.name %></strong></p>
      <div class="group-page-item">
        <p> <%= @group.description %> </p>
        <p>Language practiced: <strong> <%= @group.language %></strong></p>
        <p>Children age: <strong> primary years</strong></p>
      </div>
      <div class= "group-members-container">
        <p> Members:</p>
        <% @members.each do |member| %>
        <%# <a href="#" class="avatar" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %><%= member.first_name %>
        <%# </a> %>
        <% end %>
      </div>
       <div class= "group-request-container">
          <% @requests.each do |request| %>
            <% if request.accepted == false && request.declined == false %>
            <p><%= request.user.first_name %> wants to join</p>
            <%= link_to "Accept Request", group_request_accepted_path(@group.id, request.id, ), method: "patch", class: "btn btn-success" %>
            <%= link_to "Decline Request", group_request_declined_path(@group.id, request.id), method: "patch", class: "btn btn-success" %>
            <% end %>
          <% end %>
      </div>
  <div class = "group-page-item" id="droplist" data-controller="dropdown" data-dropdown-display-class="display">
    <p>Upcoming events <button data-action="click->dropdown#toggle">+</button></p>
      <div class= "event-droplist" data-dropdown-target="hide">
        <% @events.each do |event| %>
          <div class="event-info-card-body" class="drop_down_item" >
              <% @event = event %>
              <h4><strong><%= event.name%></strong></h4>
              <% @date = event.date %>
              <p><%= @date.strftime("%b %e, %l:%M %p")%></p>
              <p><%= link_to event.location, "https://www.google.com/maps/search/?api=1&query=#{event.latitude}%2C#{event.longitude}"%></p>
            <% if Booking.where(event: @event, user: current_user).present? %>
                    <p><strong>You're going!</strong></p>
              <% else %>
            <%= simple_form_for [@group, @event, @booking] do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :group_id, value: @group.id %>
                  <%= f.hidden_field :event_id, value: @event.id %>
                  <%= f.submit "Count me in!", class: "btn btn-success" %>
                  <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
