
<div class="banner d-flex flex-column justify-content-between align-items-center" style="background-image: url('<%= asset_url(@group.picture_url) %>');">
    <div class="group-show-tags">
      <p class="group-show-tag"><strong> <%= @group.language %></strong></p>
      <p class="group-show-tag"><strong> <%= @group.children_age %> years</strong></p>
      <p class="group-show-tag"><strong>Southwark</strong></p>
    </div>
    <div class="align-items-end">
      <h1 class="group-show-title"><strong><%= @group.name %></strong></h1>
      <% if current_user.group_admin?(@group) %>
      <div class="edit-delete-buttons d-flex justify-content-center">
        <div style="margin-right: 5px;">
          <p><%= link_to "Edit", edit_group_path, class: "button-primary" %></p>
        </div>
        <div style="margin-left: 5px;">
          <p class="ml-1"><%= link_to "Delete", group_path,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button-secondary" %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="group-showpage-description d-flex flex-column align-items-center">


  <div class="group-show-description">

    <p> <%= @group.description %> </p>

    <div class="gray-line"></div>
    <div class= "group-members-container">
      <h2 class="group-headers"> <strong>Members</strong></h2>
      <div>
        <%= image_tag @admin.picture_url, class: "avatar avatar-member avatar-admin" %>
        <%@members.each do |member|%>
          <% next if member.picture_url.nil?  %>
          <%= image_tag (member.picture_url), class: "avatar avatar-member" %>
        <%end%>
      </div>
    </div>

    <div class="gray-line"></div>

    <div class= "group-request-container" data-controller="group-request" data-group-request-target="container">
      <h2 class="group-headers"> <strong>Requests</strong></h2>
      <div class="group-request-item">
        <%= render @requests %>
      </div>
    </div>
    <div class="gray-line"></div>
  </div>
</div>


<div class = "group-page-item" id="droplist" data-controller="dropdown" data-dropdown-hide-class="hide">
  <div class="d-flex flex-column align-items-center"><h2 class="group-headers"><strong>Upcoming events</strong> </h2>
    <button class="d-inline-block button-request-accept button-request-less" data-action="click->dropdown#toggle">less</button>
  </div>

  <div class="space-one-rem"></div>

  <div class= "event-droplist cards-container" data-dropdown-target="display">

    <div class="d-flex justify-content-center">
        <%= turbo_frame_tag "events_frame" do %>
          <%= link_to new_group_event_path(@group.id), data: { turbo_frame: "new_event_frame" } do %>
            <button class="button-primary button-new-item">New Event</button>
          <% end %>
        <% end %>
      </div>

      <%= turbo_frame_tag "new_event_frame" do %>
        <div class="cards-container">
          <%= render @events %>
        </div>
      <% end %>
    </div>

  </div>
</div>
