
<div class = "group-page-container">
  <%= image_tag(@group.picture_url, class: "banner") %>
  <div class = "group-page-info">
      <div class="group-showpage-description">
        <h1><strong><%= @group.name %></strong></h1>
        <div class="group-show-tags">
          <p class="group-show-tag"><strong> <%= @group.language %></strong></p>
          <p class="group-show-tag"><strong> <%= @group.children_age %> years</strong></p>
          <p class="group-show-tag"><strong>Southwark</strong></p>
        </div>
        <p> <%= @group.description %> </p>
      </div>

  <div class= "group-members-container">
    <p class="group-headers"> <strong>Members</strong></p>
    <div>
      <%= image_tag @admin.picture_url, class: "avatar avatar-member avatar-admin" %>
      <%@members.each do |member|%>
        <% next if member.picture_url.nil?  %>
        <%= image_tag (member.picture_url), class: "avatar avatar-member" %>
      <%end%>

    </div>

  </div>
  <div class= "group-request-container" data-controller="group-requests">
  <p class="group-headers"> <strong>Requests</strong></p>
    <div class="group-request-item">
      <% @requests.each do |request| %>
      <% if request.accepted == false && request.declined == false %>
        <div class="group-request-name-buttons">
          <span><%= link_to request.user.first_name, user_path(request.user), id: "request-user" %> wants to join!</span>
            <div>
              <%= link_to "Accept", group_request_accepted_path(@group.id, request.id, ), method: "patch", class: "button-request-accept"%>
              <%= link_to "Decline", group_request_declined_path(@group.id, request.id), method: "patch", class: "button-request-decline" %>
            </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class = "group-page-item" id="droplist" data-controller="dropdown" data-dropdown-hide-class="hide">
    <p class="group-headers"><strong>Upcoming events</strong> <button class="button-request-accept button-request-less" data-action="click->dropdown#toggle">less</button></p>
      <div class= "event-droplist" data-dropdown-target="display">
        <%= render @events %>
      </div>
  </div>
</div>
