
<div class="show-profile-container">
  <div class="show-profile-headers">
    <div class="header-left">
      <h1>Ciao <%= @user.first_name %>!</h1>
    </div>
    <div class="header-right">
      <p><%= link_to "Edit profile", user_path(current_user) %></p>
    </div>
</div>
<!-- Tab links -->
  <div class="profile-tab">
    <button class="tablinks" id="tablink-groups">Groups</button>
    <button class="tablinks" id="tablink-events">Events</button>
    <button class="tablinks" id="tablink-pins">Pins</button>
  </div>


<!-- Tab content -->
<div id="Groups" class="tabcontent card-product">
  <ul class="profile-group-list">
    <li class="profile-group-item">
      <% @groups_admin.each do |group| %>
      <div class="card-profile-group">
        <h4><%= group.name.upcase %></h4>
        <p>Admin</p>
        <% group.requests.each do |request| %>
          <% if request.accepted == false && request.declined == false %>
          <p><%= link_to request.user.first_name, "#" %> wants to join</p>
          <%= link_to "Accept Request", group_request_accepted_path(group.id, request.id, ), method: "patch", class: "btn btn-success" %>
          <%= link_to "Decline Request", group_request_declined_path(group.id, request.id), method: "patch", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </li>
  </ul>

  <ul>
    <li>
      <% @groups_member.each do |group| %>
        <div class="card-profile-group">
          <%= group.name %>
          <p>Member</p>
        </div>
      <% end %>
    </li>
  </ul>

  <% unless @groups_pending.empty? %>
    <ul>
      <li>
        <% @groups_pending.each do |group| %>
          <%= group.name %>
          <p>Pending</p>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>

<div id="Events" class="tabcontent">
  <h4>My upcoming events</h4>
  <ul>
    <li>
      <% @my_events.each do |event| %>
      <p><%= event.name %></p>
      <% difference = (event.date.to_date - Date.today).to_i %>
        <% if difference == 7 %>
        <p>in a week!</p>
        <% elsif difference < 7 && difference > 1 %>
        <p><%= "In #{difference} days!"%></p>
        <% elsif difference == 1 %>
        <p>Tomorrow!</p>
        <% else %>
        <p><%= event.date.strftime("%b %e, %l:%M %p") %></p>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<div id="Pins" class="tabcontent">
  <h4>My pins</h4>
  <% @my_pins.each do |pin| %>
  <div class="pin-card card" data-pin-id="<%= pin.id %>" data-category="<%= pin.resource.category %>">
    <div class="card-body">
      <h3 class="card-title"><%= pin.resource.title %></h3>
      <p class="card-text card-text-category"><%= pin.resource.category %></p>
      <p class="card-text"><%= pin.resource.comment %></p>
      <p class="card-text"><%= pin.resource.picture_url %></p>
    </div>
  </div>
   <% end %>
</div>




</div>


<%= javascript_include_tag 'show_profile' %>
