
<div class="show-profile-container container justify-content-center" data-controller="user-show-menu">

  <% if @user == current_user  %>
  <div class="show-profile-headers">
    <h1 class="header-title">Ciao <%= @user.first_name %>!</h1>
    <%= link_to user_path(current_user)  do %>
      <i class="fa-solid fa-gear profile-edit-button"></i>
    <% end %>
  </div>
    <!-- Tab links -->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="profile-tab">
          <button class="tablinks active" id="groups" data-user-show-menu-target="groupsButton" data-action="click->user-show-menu#activateMenu">My groups</button>
          <button class="tablinks" id="events" data-user-show-menu-target="eventsButton" data-action="click->user-show-menu#activateMenu">My events</button>
          <button class="tablinks" id="pins" data-user-show-menu-target="pinsButton" data-action="click->user-show-menu#activateMenu">My pins</button>
        </div>
      </div>
    </div>

    <!-- Tab content -->
    <div id="groups-content" data-user-show-menu-target="groupsContent" class="tabcontent card-product cards-container">
      <%= render @groups %>
    </div>

    <div id="events-content" data-user-show-menu-target="eventsContent" class="tabcontent d-none cards-container">
      <%= render @events %>
    </div>

    <div id="pins-content" data-user-show-menu-target="pinsContent" class="tabcontent d-none cards-container">
      <%= render @resources %>
    </div>

  <% else %>
    <div class = "laura-presentation">
      <div class="profile-otheruser-headers">
        <h1><%= @user.first_name  %></h1>
        <span><%= image_tag @user.picture_url, class: "profile-otheruser-avatar" %></span>
      </div>
      <p class="profile-message"><%= "Ciao a tutti! Mi chiamo #{@user.first_name}. Mi sono trasferita da Bari due anni fa con mio marito e mio figlio.
      Vivo a Honor Oak e cerco altre famiglie italiane per socializzare e aiutare mio figlio a non dimenticare l'italiano." %></p>
      <div class="profile-tags">
        <p class="profile-blue-tag"> 1 child</p>
        <p class="profile-blue-tag"> 3 - 5 years </p>
        <p class="profile-blue-tag"> Lewisham </p>
      </div>
    </div>
  <% end %>

</div>
