<div class="footer fixed-bottom">
  <div class="footer-links">
    <%= link_to :back, class: "footer-item"  do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <%= link_to groups_path, class: "footer-item" do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <% if current_user %>
    <%= link_to user_path(current_user), class: "footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <% end %>
    <%= link_to resources_path, class: "footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to stories_path, class: "footer-item" do %>
      <i class="fa-solid fa-robot"></i>
    <% end %>
  </div>
</div>
