<div class="container-group-footer fixed-bottom">
  <div class="group-footer-links">
    <%= link_to :back, class: "footer-item"  do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <%= link_to groups_path, class: "group-footer-item" do %>
     <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <%= link_to resources_path, class: "group-footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to user_path(current_user), class: "group-footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <%= link_to stories_path, class: "group-footer-item" do %>
      <i class="fa-regular fa-comment"></i>
    <% end %>
    <%= link_to group_chatroom_path(@group.id), class: "group-footer-item" do %>
     <i class="fa-solid fa-wand-sparkles"></i>
    <% end %>
  </div>
</div>
