<div class="navbar navbar-expand-sm navbar-light navbar-volo fixed-top">
  <div class="container-fluid">
   <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class = "navbar-title">
    <h1>Volo</h1>
    </div>

      <% if user_signed_in? %>
       <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
    </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Setting", "#", class: "dropdown-item" %>
          <%= link_to "Our policy", "#", class: "dropdown-item" %>
          <%= link_to "FAQ", "#", class: "dropdown-item" %>
          <%= link_to "Support", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
  </div>
</div>
