<div class="event-info-card-body drop_down_item" >
  <h4><strong><%= event.name%></strong></h4>
  <p><%= link_to event.group.name, group_path(event.group) %></p>
  <p> Organised by <%= link_to event.user.first_name, user_path(event.user) %><p>
  <p><%= "#{pluralize(event.bookings.length, "person")} going!"%></p>
  <div class="profile-event-time-place">
      <% difference = (event.date.to_date - Date.today).to_i %>
      <% if difference == 7 %>
        <p><strong>in a week!</strong></p>
      <% elsif difference < 7 && difference > 1 %>
        <p><strong><%= "In #{difference} days!"%></strong></p>
      <% elsif difference == 1 %>
        <p><strong>Tomorrow</strong></p>
      <% else %>
      <p><strong><%= event.date.strftime("%b %e, %l:%M %p") %></strong></p>
      <% end %>
      <p><%= link_to event.location.partition(",").first,
        "https://www.google.com/maps/search/?api=1&query=#{event.latitude}%2C#{event.longitude}"%>
        <i class="fa-sharp fa-solid fa-location-dot" style="color: #fd1015;"></i>
      </p>
    </div>
  <% if Booking.where(event: event, user: current_user).present? %>
    <%= link_to bookings_destroy_path(event_id: event), method: :delete do %>
      <div class="tag-confirm-going top-corner-right"><strong>Going!</strong></div>
    <% end %>
  <% else %>
  <%= simple_form_for [@group, event, @booking] do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.hidden_field :event_id, value: event.id %>
      <%= f.submit "RSVP!", class: "button-request-accept top-corner-right" %>
      <% end %>
  <% end %>
</div>
