<div class="container">
  <%= simple_form_for [@group, @event], html: { class: "event_form" } do |f| %>
    <% if event.errors.any? %>
      <div class="error-message">
        <%= event.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :location %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :date, as: :datetime %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div style="text-align: center;">
      <%= f.submit class: "btn button-primary" %>
    </div>
  <% end %>
</div>

<div class="space-one-rem"></div>
<div class="space-one-rem"></div>
<div class="space-one-rem"></div>
