<h1>Il quizzone!</h1>

<% @questions.each do |question| %>
  <ul>
    <li> <%= question.content %> </li>
  </ul>
<% end %>



<%= simple_form_for [@game, @answer] do |f| %>
<%= f.input :protagonist %>
<%= f.input :weapon %>
<%= f.input :setting %>
<%= f.input :goal %>
<%= f.submit "Submit", class: "btn btn-success"%>
<% end %>
