<h1>Il quizzone!</h1>

<%= @generated_story %>

<%= simple_form_for [@game, @prompt] do |f| %>
<%= f.input :protagonist %>
<%= f.input :weapon %>
<%= f.input :setting %>
<%= f.input :enemy %>
<%= f.input :food %>
<%= f.input :goal %>
<%= f.submit "Submit", class: "btn btn-success"%>
<% end %>
