<div class="questionaire-container" data-controller="oval">
  <div class="stories-title-icon">
    <h1>Story generator</h1>
    <i class="fa-solid fa-robot"></i>
    <%# <p>Ciao! Please answer my questions so I can generate an original story for you.</p> %>
  </div>

<div class="stories-form">
  <%= simple_form_for [@prompt], html: { data: { oval_target: "container" }, class: "stories-form" } do |f| %>
  <%= f.input :protagonist, label: "What's the protagonist's name?" %>
  <%= f.input :food, label: "What food do they love?" %>
  <%= f.input :setting, label: "Where is your story set?" %>
  <%= f.input :enemy, label: "Who is the baddie?" %>
  <%= f.input :language, label: "What language should I use?" %>
<div class="submit-button-container">
  <%= f.submit "Submit", class: "button-request-accept button-large", data: { action:"click->oval#loading" }%>
</div>
  <% end %>
</div>


  <div id="oval-container" data-oval-target="spinner" class="hidden-content center-position spinner">
    <%= image_tag "oval.svg"%>
  </div>
</div>
 <%# html: { data: { oval_target: "container" }, class: "stories-form" } %>
