<div class="card" data-category="<%= resource.category %>">
  <div class="card-body">
    <h5 class="card-title"><%= resource.title %></h5>
    <p class="card-text card-text-category"><%= resource.category %></p>
    <p class="card-text"><%= resource.comment %></p>
    <p class="card-text"><%= resource.picture_url %></p>
    <a href="#" class="pin-button"><i class="fas fa-thumbtack"></i></a>
  </div>
</div>
