<div class="resource-card" data-category="<%= resource.category %>">
<%# <%= link_to resource_path(resource), data: { turbo: false } do %>
  <%= image_tag("#{resource.picture_url}",  class: "profile-pin-image") %>

  <div class="resource-info">
      <h2><%= resource.title %></h2>
    <p><%= resource.comment %></p>
    <div class="resource-category">
      <div><%= resource.pin_count %> <i class="fa-solid fa-map-pin"></i></div>
      <div><%= resource.category %></div>
    </div>
  </div>

  <%= link_to resource_pin_unpin_path(resource),
              class: "resource-pin-button",
              method: :post do %>
    <i class="fa-solid fa-map-pin"></i>
  <% end %>
  <%# <% end %>
</div>
