
<div class="show-resources-container">
  <div class="resources-headers">
    <div class="resources-h1-create">
      <h1 class="resources-header-title">Resources</h1>
        <%= link_to "#" do %>
          <p class="resources-new-button">New</p>
        <% end %>
      </div>
    <p>
      Bits of advice from the Volo community! Browse our selection of recommendations and tips to get your kids speaking Italian!
      <%# <%= image_tag "resources/italy.png", class: "resources-italian-flag"%>
    </p>
  </div>

  <div class="resources-filter-new">
    <div class="filter-container">
      <select id="category-filter" class="form-control">
        <option value="">Categories</option>
        <% @categories.each do |category| %>
          <option value="<%= category %>"><%= category %></option>
        <% end %>
      </select>
      <button id="filter-button" class="btn button-primary">Filter</button>
    </div>
  </div>

    <div class="Pins">
      <% @resources.each do |resource| %>
        <div class="resources-pin-card" data-category="<%= resource.category %>">
          <%= image_tag("#{resource.picture_url}",  class: "profile-pin-image") %>
            <div class="resources-pin-infos">
              <h2><%= resource.title %></h2>
              <p class="resources-pin-text"><%= resource.comment %></p>
              <div class="resources-pins-category">
                <button class="pin-count"><%= resource.pins.length %><i class="fa-solid fa-map-pin"></i></button>
                <button><%= resource.category %></button>
              </div>
            </div>

            <%= link_to resource_pin_unpin_path(resource), method: :post do %>
             <i class="fa-solid fa-map-pin"></i>
            <% end %>
       </div>
      <% end %>
    </div>
</div>
