
<div class="show-resources-container">
  <div class="resources-headers">
    <%= turbo_frame_tag "first_turbo_frame" do %>
      <div class="resources-h1-create">
        <h1 class="resources-header-title">Resources</h1>
        <%= link_to new_resource_path, data: { turbo_frame: "second_frame" } do %>
          <p class="button-primary">New</p>
        <% end %>
      </div>
    <% end %>
    <p>
      Bits of advice from the Volo community! Browse our selection of recommendations and tips to get your kids speaking Italian!
    </p>
  </div>

  <div class="resources-filter-new">
    <div class="filter-container">
      <select id="category-filter" class="form-control">
        <option value="">Categories</option>
        <% @categories.each do |category| %>
          <option value="<%= category %>"><%= category %></option>
        <% end %>
      </select>
      <button id="filter-button" class="button-primary">Filter</button>
    </div>
  </div>

  <div class="space-one-rem"></div>

  <%= turbo_frame_tag "second_frame" do %>
    <div class="resources resource-cards-container">
      <%= render @resources %>
    </div>
  <% end %>
</div>
