
<div class="show-resources-container">
  <div class="resources-headers">
    <%= turbo_frame_tag "first_turbo_frame" do %>
      <div class="resources-h1-create">
        <h1 class="resources-header-title">Resources</h1>
        <%= link_to new_resource_path, data: { turbo_frame: "second_frame" } do %>
          <p class="button-primary">New</p>
        <% end %>
      </div>
    <% end %>
    <p>
      Bits of advice from the Volo community! Browse our selection of recommendations and tips to get your kids speaking Italian!
    </p>
  </div>

  <div class= "resources-filter-container">
  <%= simple_form_for @filter_form, url: resources_path, method: :get do |form|%>
    <%= form.input :category, label_html: {class: 'resources-filter-label'}, collection: Resource.pluck(:category).uniq, include_blank: 'All'%>
    <%= form.button :submit, 'Apply ', class: "btn btn-success btn-filter" %>
    <%= @resources_all %>
  <% end %>
  </div>

  <div class="space-one-rem"></div>

  <%= turbo_frame_tag "second_frame" do %>
    <div class="resources resource-cards-container">
      <%= render @resources %>
    </div>
  <% end %>
</div>
